:root {
  /* colors */
  ---text-color-white: #fff;
  ---text: #252b42;
  ---text-hover: #fa4a0c;
  ---black-color: #000000;
  ---text-color-kinda-white: #f6f6f6;
  ---second-text: #737373;
  --copywright-color: #5c5c5c;
  /* fonts */
  --font-nav: "Montserrat", sans-serif;
  --font-weight-nav: 600;
  --font-copywright: "Roboto", sans-serif;
  --font-weight-copywright: 700;
  --font-button-or-header: "Montserrat", sans-serif;
  --font-weight-button-or-header: 700;
  --font-main-text: "Montserrat", sans-serif;
  --font-weight-main-text: 500;
  --font-header-h: "Poppins", sans-serif;
  --font-weight-header-h: 700;
  --font-header-section-guide: "Poppins", sans-serif;
  --font-weight-header-section-guide: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}
.nav-li {
  color: var(---text);
  text-align: center;
  /* Link */
  font-family: var(--font-nav);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-nav);
  line-height: 28px;
  letter-spacing: 0.2px;
}
.nav-li:not(:last-child) {
  margin-right: 114px;
}
.nav-li:hover {
  color: var(---text-hover);
}

.nav-ul {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
}
.flexdiv {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1440px;
  padding-right: 90px;
  padding-left: 90px;
  margin: 0 auto;
}
/* питання про padding-right і left */
.container2 {
  max-width: 1440px;
  padding-right: 168px;
  padding-left: 174px;
  margin: 0 auto;
}

.logo {
  width: 150px;
  height: 65.214px;
  flex-shrink: 0;
  margin-right: 465px;
  display: block;
}
.header {
  padding-top: 49.52px;
  padding-bottom: 41.27px;
  height: 156px;
  align-self: stretch;
}
.hero-section {
  background-color: green;
  padding-top: 80px;
  /* якщо прибрати height, то вміст стане величезним (займатиме всю сторінку)*/

  height: 619px;
  padding-bottom: 162px;
  /* якщо прибрати ще в hero-button margin, тоді не спрацює паддінг */
}
.hero-p1 {
  color: var(---text-color-kinda-white);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0.1px;
  font-family: var(--font-button-or-header);
  font-weight: var(--font-weight-button-or-header);
  margin-bottom: 10px;
}
.hero-h2 {
  width: 799px;
  height: 151.111px;
  color: var(---text-color-white);
  text-align: center;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  font-family: var(--font-header-h);
  font-weight: (--font-weight-header-h);
  margin-bottom: 14.89px;
}
.hero-p2 {
  margin: 0 auto;
  width: 368px;
  height: 19px;
  color: var(---text-color-kinda-white);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  line-height: 38px;
  letter-spacing: 0.2px;
  font-family: var(--font-main-text);
  font-weight: var(--font-weight-main-text);
  margin-bottom: 78px;
}
.button-flex {
  display: flex;
  justify-content: center;
}
.hero-button {
  width: 236px;
  padding: 16px 0px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(---text-color-white);
  /* обговорити */
  background-color: transparent;
  margin-bottom: 162px;
}
.hero-button:not(:last-child) {
  margin-right: 30px;
}
.hero-button:hover {
  background: var(---text-hover);
}
.hero-button-text {
  color: var(---text-color-white);
  /* H3 */
  font-family: var(--font-button-or-header);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--font-weight-button-or-header);
  line-height: 36px;
  letter-spacing: 0.1px;
}
.container-hero {
  margin: 0 auto;
  max-width: 800px;
}

.guide-header {
  color: var(---black-color);
  font-family: var(--font-header-section-guide);
  font-size: 44px;
  font-style: normal;
  font-weight: var(--font-weight-header-section-guide);
  line-height: 36px;
  letter-spacing: 0.1px;
  opacity: 0.800000011920929;
  text-align: center;
  margin-bottom: 70px;
}
.guide-section-li1 {
  flex-direction: row-reverse;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 108.3px;
}
.guide-section-li2 {
  display: flex;
  flex-direction: row;
}
.guide-section-p1 {
  color: var(---text-hover);
  /* H3 */
  font-family: var(--font-weight-button-or-header);
  /* чогось не працює шрифт, коли дав його в зміну, але коли пишу вручну, то все працює */
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: var(--font-weight-button-or-header);
  line-height: 36px;
  letter-spacing: 0.1px;
  margin-bottom: 17px;
}
.guide-section-h2 {
  color: var(---text);
  /* H2 */
  font-family: var(--font-button-or-header);
  font-size: 40px;
  font-style: normal;
  font-weight: var(--font-weight-button-or-header);
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}
.guide-section-p2 {
  color: var(---second-text);
  /* H4 */
  font-family: var(--font-main-text);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--font-weight-main-text);
  line-height: 38px;
  letter-spacing: 0.2px;
}
.img1 {
  width: 250px;
  height: 506.972px;
  border-radius: 40px;
  background: url(<path-to-image>),
    lightgray -15.936px -10.956px / 113.944% 110.413% no-repeat;
  margin-right: 287px;
}

.img2 {
  width: 250px;
  height: 489.224px;
  flex-shrink: 0;
  border-radius: 40px;
  background: url(<path-to-image>),
    lightgray -17.241px -21.552px / 114.224% 108.37% no-repeat;
  margin-left: 338px;
}
.content-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 184.8px;
}

.second-hero-button {
  background: transparent;
  padding: 18px 31px;
  align-items: center;
  display: flex;
  padding: 16px 45px;
  align-items: center;
  border-radius: 10px;
}
.second-hero-button:hover {
  background-color: var(---text-hover);
}
.second-hero-button-text {
  color: var(---text-color-white);
  /* Button */
  font-family: var(--font-button-or-header);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-button-or-header);
  line-height: 28px;
  letter-spacing: 0.2px;
}
.platform-section {
  background-color: var(---text);
  padding-top: 146.9px;
  padding-bottom: 133.1px;
  /* дивна ситуація з padding */
}
.platform-h1 {
  color: var(---text-color-white);
  text-align: center;
  font-family: var(--font-button-or-header);
  font-size: 40px;
  font-style: normal;
  font-weight: var(--font-weight-button-or-header);
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}
.platform-p2 {
  color: var(---text-color-white);
  text-align: center;
  /* H4 */
  font-family: var(--font-main-text);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--font-weight-main-text);
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
  margin-bottom: 59px;
}
.platform-button {
  display: flex;
  padding: 16px 45px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(---text-color-white);
  background: transparent;
}
.platform-button-text {
  color: var(---text-color-white);
  /* Button */
  font-family: var(--font-button-or-header);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-button-or-header);
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.platform-button:hover {
  background-color: var(---text-hover);
}
.platform-button:not(:last-child) {
  margin-right: 30px;
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
